

.aside-04  h2 a{
    padding: 0px !important;
    font-size: 1.3rem !important;
    background-color: transparent !important;
}
.aside-04  h3{
    background-color: transparent !important;
}
/* =============================== ASIDE 04 =============================== */

.aside-04 nav::-webkit-scrollbar {
    width: 3px;
}

.aside-04 nav::-webkit-scrollbar-thumb {
    background-color: var(--dark);
}

.aside-04 {
    background-color: var(--cor-pretopantone);
    border-radius: 5px 0 0 5px;
    margin: 0;
    box-sizing: border-box;
    padding: 3em;
    position: fixed;
    z-index: 999999;
    height: auto;
    width: 300px;
    right: -300px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    transition: .5s ease-in-out;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.aside-04::before {
    content: '\f0c9';
    font-family: 'FontAwesome';
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    background-color: var(--cor-pretopantone);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    cursor: pointer;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.5);
    transition: .3s;
}

.aside-04:hover {
    right: 0;
}

.aside-04:hover::before {
    opacity: 0;
}

.aside-04 a {
    color: #fff;
}

.aside-04:hover .aside__menu, .aside-04:hover .aside__contato {
    animation-name: anima__aside;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
}

.aside-04 h2 {
	margin: 0 0 12px 0;
	font-weight: 400;
	transition: 0.3s;
}

.aside-04 h2 a {
	transition: 0.3s;
}

.aside-04 h2:hover a {
	color: var(--primary-color);
}

.aside-04 .aside__menu-subtitle {
	color: #FFF;
	font-weight: 400;
	border-bottom: 1px solid #FFF;
	padding-bottom: 8px;
	font-size: 14px;
	margin: 16px 8px 8px 0;
}

.aside-04 .aside__menu li a {
    display: block;
    padding: 5px;
    margin: 5px 0;
    font-size: 12px;
    border-left: 1.5px solid #fff;
    transition: .3s;
}

.aside-04 .aside__menu li a:hover, .aside-04 .aside__menu li a.active-menu-aside {
    border-left: 3px solid var(--primary-color);
    color: var(--primary-color);
}

aside p{
    background-color: none;
}
@keyframes anima__aside {
    0% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0);
    }

}

